.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 700px;
    height: 250px;
    /* display: flex; */
    align-items: center;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}